:root {
  --main-color: #2C5DCE;
  --main-color-hover: #427bff;
  --bg-color: #fff;
  --font-color: #333333;
  --navbar-color:rgba(0, 0, 0, 0.05);
  --card-color: var(--main-color);
  --grey-color: #f0f0f0;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding: 0 1rem 1rem 1rem;
  /* max-width: 680px; */
  margin: 0 100px;
  background: var(--bg-color);
  color: var(--font-color);
}

.dark-theme {
  --bg-color: #151a30;
  --font-color: #fff;
  --navbar-color:rgba(255, 255, 255, 0.05);
  --card-color: var(--main-color);
  --grey-color: #282743;
}

li,
p {
  line-height: 1.5rem;
}

a {
  font-weight: 500;
}

hr {
  border: 1px solid #ddd;
}

iframe {
  background: #ccc;
  border: 1px solid #ccc;
  height: 10rem;
  width: 100%;
  border-radius: 0.5rem;
  filter: invert(1);
}



/****************************************************************************************************/

.big-title {
  font-size: 5rem;
  font-weight: 700;
  margin: 1rem 0;
  color: var(--main-color);
}

.presentation-big-bloc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  max-width: 90%;
}

.bloc-blue {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding: 1.3rem;
  margin: 1rem 0;
  width: 650px;
  background: var(--card-color);
  color: var(--bg-color);
  text-align: justify;
  font-size: 1.2rem;
}

button {
  background: var(--main-color);
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  background: var(--main-color-hover);
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}


form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 20px;
  background-color: var(--grey-color);
  border: 3px solid var(--main-color);
  border-radius: 5px;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}

input[type="text"]:focus {
  outline: none;
  border: 3px solid var(--main-color);
}

input[type="date"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}

input[type="date"]:focus {
  outline: none;
  border: 3px solid var(--main-color);
}

input[type="color"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}

input[type="color"]:focus {
  outline: none;
  border: 3px solid var(--main-color);
}

select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}

select:focus {
  outline: none;
  border: 3px solid var(--main-color);
}



.GroupItem {
  border-radius: 1em;
  border: solid 3px var(--main-color);
  background-color: var(--grey-color);
  margin: 1rem 0;
  transition: 0.1s ease ;
  padding: 1px;
  width: 70%;
  cursor: pointer;

  display: flex;
  align-items: center;
}

.GroupItem:hover {
  transform: translateX(15px);
  transition: 0.1s ease ;
}

.GroupItem h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
  color: var(--main-color);
  margin-left: 20px;
}

.GroupItem p {
  margin-left: 20px;
}

.GroupItem img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin-left: 20px;
  object-fit: cover;
}


.ReminderItem {
  border-radius: 1em;
  border: solid 3px var(--main-color);
  background-color: var(--grey-color);
  margin: 1rem 0;
  transition: 0.1s ease ;
  padding: 1px;
  width: 70%;
  cursor: pointer;
}

.ReminderItem:hover {
  transform: translateX(15px);
  transition: 0.1s ease ;
}

.ReminderItem h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
  color: var(--main-color);
  margin-left: 20px;
}

.ReminderItem p {
  margin-left: 20px;
}

.ReminderItem span {
  color: var(--font-color);
  font-size: 1rem;
}


.users-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 2rem;
  margin: 2rem 0;
}

.UserItem {
  border-radius: 1em;
  border: solid 3px var(--main-color);
  background-color: var(--grey-color);
  margin: 1rem 0;
  transition: 0.1s ease ;
  padding: 5px;
  width: 300px;
  cursor: pointer;
  text-align: center;
}

.UserItem h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
  color: var(--main-color);
  margin-left: 20px;
}

.UserItem p {
  margin-left: 20px;
}

.UserItem span {
  color: var(--font-color);
  font-size: 1rem;
}

.UserItem img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid var(--font-color);
  margin: 1rem 0;
}

.UserItem button {
  margin: 1rem 0;
} 


.disable {
  pointer-events:none;
  opacity:0.4;
}




.loader {
  border: 4px solid #f3f3f3; /* couleur de la bordure */
  border-top: 4px solid #3498db; /* couleur de la bordure supérieure */
  border-radius: 50%; /* forme circulaire */
  width: 30px; /* taille */
  height: 30px; /* taille */
  animation: spin 2s linear infinite; /* animation pour faire tourner */
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); } /* rotation de départ */
  100% { transform: rotate(360deg); } /* rotation complète */
}


.container {
  display: flex;
  justify-content: space-around;
}


